<div class="container mt-5">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.img_url %>)">
    <h1><%= @list.name %></h1>
  </div>

  <%# <%= link_to  "Add a movie", new_movie_path, :class=>"btn btn-success mt-5" %>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-success mt-5" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
  Add a movie
</button>



<!-- Modal -->
<div class="modal fade" id="new_movie_modal" tabindex="-1" aria-labelledby="new_movie_modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="new_movie_modalLabel">Add a movie to your list</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <%= simple_form_for(@list) do |f| %>
          <%= f.input :name %>
          <%= f.submit %>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</div>
