<div class="container mt-5">

  <ul class="row">
    <% @movies.each do |movie| %>
      <li class="movie-card ">
        <img  src="<%= movie.poster_url %>" alt="movie poster" >
        <div class="movie-info">
            <div class="d-flex align-items-center">
              <div class=""><h5><%= movie.title %></h5></div>
              <div class=""><p id="rating"> &nbsp - <%= movie.rating %> ⭐️</p></div>
            </div>

            <p><%= movie.overview %></p>


             <%= link_to lists_path do%>
              <div class="bookmark "></div>

             <% end %>


        </div>



      </li>
    <% end %>
  </ul>

</div>
